---
layout: base.njk
---

<a class="section-heading" href="/">
  Back to <span class="hyperlink">Posts</span>
</a>
<section>
  <article>
    <h3> {{ title }}</h3>
    <img src="{{ thumbnail }}" role="thumb" />
    <ul class="tagline">
      <li class="tag"><a>Blog</a></li>
      <li class="tag"> {{ date | postDate }} </li>
    </ul>
    {{ content | safe }}
  </article>
</section>