---
layout: base.njk
---

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="assets/carousel/2.jpg">
    </div>
    <div class="swiper-slide">
      <video autoplay loop playsinline muted>
        <source type="video/mp4" src="assets/carousel/1.mp4">
        <img src="assets/carousel/1-unsupported.png" alt="Stylized purple bat with kind glowing eyes">
      </video>
    </div>
    <div class="swiper-slide">
      <img src="assets/carousel/3.jpg">
    </div>
  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<!-- <div class="container-carousel">
  <ul>
    <li class="carousel-item">
      <img src="assets/carousel/2.jpg">
    </li>
    <li></li>
    <li></li>
  </ul>
  <div class="carousel-nav">
      <div class="nav-indicator active"></div>
      <div class="nav-indicator"></div>
      <div class="nav-indicator"></div>
    </ul>
  </div> 
</div> -->

<div class="container-posts">
  <h2 class="section-heading">Posts</h2>
  <section>
      {% for post in collections.recentPost %}
          {% if post.data.published == true %}
            <article>
              <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
              <a href="{{ post.url }}">
                <img src="{{ post.data.thumbnail }}" role="thumb"/>
              </a>
              <ul class="tagline">
                <li class="tag"><a>Blog</a></li>
                <li class="tag">{{ post.data.date | postDate }}</li>
              </ul>
              <p>{{ post.data.description }}</p>
            </article>
          {% endif %}
      {% endfor %}

  </section>
</div>
  
<!-- Swiper.js script-->
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script> 
<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>