<footer>
  <div class="top">
    <img src="/assets/htg-flower-logo.svg"/>
  </div>
  <ul>
    <li><a href="https://www.instagram.com/hug_the_grizzly" target="_blank">Instagram</a></li>
    <li><a href="https://www.youtube.com/@kamshifter" target="_blank">YouTube</a></li>
    <li><a href="https://www.twitch.tv/kamshifter" target="_blank">Twitch</a></li>
  </ul>
</footer>