<div id="nav-mobile">
      <li><a class="current-page" href="index.html">Home</a></li>
      <li><a href="#">Art</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">About</a></li>
</div>

<header>
  <div id="topbar">
    <button id="nav-menu" onclick="openNav()"></button>
    <div class="banner">
      <img src="/assets/htg-flower-logo.svg"/>
      <h1>Hug the Grizzly</h1>
    </div>
  </div>
  <div id="topbar-desktop">
    
  </div>
</header>